.Price-tag{
  height:fit-content;
  width: 260px;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  background-color: white;
  border-radius: 20px;
 
}

.Container{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

bold{
  font-size: larger;
}
body{
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF); 
  text-align: center;
  
}

.ButtonUI{
  border-radius: 50%;
}

.ButtonUI:hover{
  opacity: 1;
}
.price-part{
  text-align: center;
}

ul{
  text-align: left;
  line-height: 50px;
}

li{
  list-style-type: none;
}

.ButtonUI{
  width: 100%;
  border-radius: 20px;
}